/*------------------------------
　共通・スマホ向け
 -------------------------------*/
h1{
  text-align: center;
}
ul{
  padding-left: 25px;
}
.update_list li time{
  padding-right: 20px;
}
a{
  word-wrap: break-word;
}
li .desc{
  font-weight: bold;
}
details{
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em 1em 0;
  margin-bottom: .6em;
}
details summary{
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container > li{
  width: 100%;
}
.flex-container-2 > li{
  width: 100%;
}
.back{
  text-align: center;
}
.update_list{
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 30px;
    list-style-type: none;
    padding-left: 20px;
}
/*-------------------------------------
　タブレット向け
 --------------------------------------*/
@media screen and (min-width: 768px) {
}
/*-------------------------------
　PC向け
 --------------------------------*/
@media screen and (min-width: 1024px) {
  body{
    width: 1024px;
    margin: auto;
  }
  .flex-container > li{
    width: 25%;
  }
  .flex-container-2 > li{
    width: 50%;
  }
}
