/*------------------------------
　共通・スマホ向け
 -------------------------------*/
h1{
  text-align: center;
}
ul{
  padding-left: 25px;
}
/*-------------------------------------
　タブレット向け
 --------------------------------------*/
@media screen and (min-width: 768px) {
}
/*-------------------------------
　PC向け
 --------------------------------*/
@media screen and (min-width: 1024px) {
  body{
    width: 1024px;
    margin: auto;
  }
}
